<%= form_for(@comment) do |f| %>
  <%= render :partial => 'shared/error', :locals => {:entity => @comment, :text => "dieser Kommentar" } %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :mark %><br />
    <%= f.number_field :mark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= f.hidden_field :script, :value => params[:id] %>

<% end %>
