#encoding: utf-8
<%= form_for(@comment) do |f| %>
  <%= render partial: 'shared/error', locals: {entity: @comment, text: "dieser Kommentar" } %>
  <div class="field">
    <%= f.label 'Inhalt' %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label 'Note(1(sehr gut) - 6(ungenügend)' %>
    <%= f.select :mark, [['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6']] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= f.hidden_field :script, value: @script.id %>
<% end %>
