<p id="notice"><%= notice %></p>


  <div class="span4">&nbsp;</div>
  <div class="span4">  
  <b>Name:</b>
  <%= @script.name %>
</p>

<p>
  <b>Dozent:</b>
  <%= @script.dozent %>
</p>

<p>
  <b>Kurs:</b>
  <%= @script.kurs %>
</p>

<p>
  <b>Fachrichtung:</b>
  <%= @script.fachrichtung %>
</p>

<p>
  <b>Hochschule:</b>
  <%= @script.hochschule %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @script.beschreibung %>
</p>

<p>
  <b>Erscheinungsdatum:</b>
  <%= @script.erscheinungsdatum %>
</p>

<p><%= link_to ">>> #{@script.name} <<<", download_script_path(@script) %></p>

<!--"#{@script.id}/download"-->

<%= link_to 'Edit', edit_script_path(@script), :class => "btn btn-mini btn-danger" %>
<%= link_to 'Back', scripts_path, :class => "btn btn-mini" %>

</div>
<div class="span4">&nbsp;</div>