<div class="span1">&nbsp;</div>
 	<div class="span12">
		<h1>Userprofil von <%= @user.username %> </h1>
		<p>Username: <%= @user.username %> </p>
		<% if user_signed_in? and @user.id == session[:user_id] #mache den nachfolgenden Content nur den den eigenen User sichtbar %>
				<p>Haupt-email: <%= @user.email %></p>
				<br><br>
    			<h3>Registrierte Authentifizierungsservices </h3>
    			<% @user.authorizations.each do |auth|%>
        			<p>
        				<%= auth.provider.to_s + " (uid: " + auth.uid + ")"  %>
        			</p>
    			<% end %>	
		 <% end %>
	  <br>
	  <h3>Meine Uploades </h3>
	 <%= render partial: 'shared/listings', locals: {scripts: @user.scripts} %>
	  <br>
	  <% if isAdmin? %>
	  	<h3>Nicht Active Uploads</h3>
	 	<%= render partial: 'listing_not_activ', locals: {scripts: Script.all} %>
	 <% end %>
</div>


